                    <!-- start partial section -->
                    <div class="col-sm-12 panel panel-default">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           <div class="btn-group-xs text-center" id="viewSelectButtons">
                                                <button class="btn btn-default">View All</button>
                                                <button class="btn btn-default">&nbsp; &nbsp;Open&nbsp; &nbsp;</button>
                                                <button class="btn btn-default">&nbsp; Closed&nbsp;</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Order by:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>
                                        <div class="input-group-xs">
                                            <select class="form-control">
                         
                                                    <option>Newest first</option>
                                                    <option>Oldest first</option>
                                                    <option>a-z</option>
                                                    <option>z-a</option>
                                                    <option>priority</option>
                                                    <option>Due Soon</option>
                                            
                                            </select>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center">Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" />
                                                    Home &nbsp; 
                                                    <span class="badge"> 1 </span>
                                                    &nbsp;
                                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" />
                                                    Kristy's Vegan Site
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="button-group-xs">
                                                <button type="button" class="btn btn-default btn-xs"><i>view all</i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end partial section -->