<div class="col-xs-6  col-xs-offset-3 col-md-4 col-md-offset-4" id="quickSearchBox">
                
                        <div class="input-group">
                        <input type="text" name="quickTaskInput" class="form-control text-center" placeholder="Create a Task" ng-model="quickTaskName" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span> + </span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Quick Add</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Add Details</a></li>
                                    </ul>
                            </div>
                    </div>
                </div>